// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-title {
  margin-bottom: 10px !important;
  a {
    color: black;
  }
}